.generate{
    background-color: #FF5159;
}
.donwload{
    background-color: black;
}
.buttoncontainer{
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    margin-top: 30px;
}